<h1>New Question</h1>

<%# render is expecting a partial which is a view file name that starts with `_`
    When you don't provide the full path for the partial then Rails is going to
    assume that the partial exists in the same folder as this file. %>
<%= render 'form' %>
