<p>Hello <%= @user.first_name.capitalize %>,</p>

<p>Your question titled: <%= @question.title %> hasn't receivd an answer for 5 days please consider chaning or removing the question</p>

<p>Regards</p>

<p>Awesome Answers Team</p>
