$brand-primary: #745a5a;
$border-radius-base: 5px;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


/* --- Font Setup --- */
$hello_pretty_font: 'HelloPretty';
$born_ready_font: 'BornReady';
@font-face {
   font-family: Montserrat, sans-serif;
   src: url(https://fonts.googleapis.com/css?family=Montserrat);
}
@font-face {
   font-family: Yellowtail;
   src: url(https://fonts.googleapis.com/css?family=Yellowtail);
}
@font-face{
  font-family: $hello_pretty_font;
  src: font-url("HelloPretty.otf") unquote("format('opentype')");
  font-weight: normal;
  font-style: normal;
  }
@font-face{
  font-family: $born_ready_font;
  src: font-url("BornReady.otf") unquote("format('opentype')");
  font-weight: normal;
  font-style: normal;
}

html {
	// background-image: url("pattern_2_380_soft.jpg");
  background: rgba(244,244,244,0.5);
	background-repeat: repeat-x repeat-y;
  padding: 0px !important;
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: 'Montserrat', sans-serif;
  color: #777;
}
#logo {
  font-family: $hello_pretty_font, 'Yellowtail';
  font-size: 36px;
  color: white;
  padding-left: 15px;
  padding-bottom: 10px;
}
h1 {
  font-family: $hello_pretty_font, 'Yellowtail';
  font-size: 45px;
  // text-align: center;
  color: #745a5a;
  // color: #eb8891;
}

.btn-primary {
    color: #745a5a;
    background-color: #f8e5e1;
    border-color: #f8e5e1;
  }
div img {
    width: 100%;
    height: auto;
}
body{
  background-color: transparent;
}

.must_hide > p{
  color: #e2afa4;
}
.must_hide_from_public > p{
  display: none;
}
p {
 font-size: 14px;
   font-weight: 400;
   font-family: montserrat;
   line-height: 1.4;
   margin-bottom: 10px;
   color: #555
}
h6 {
   font-size: 12px;
   font-weight: 500;
   font-family: montserrat;
   line-height: 1.4;
   text-transform: uppercase;
   margin-bottom: 10px;
   color: #555
}

a,
span{
 padding-right: 20px;
 font-weight: 300;
 font-size: 15px;
}
label {
 font-weight: 300;
 font-size: 15px;
 color: #908179;
}
select{
 font-size: 14px;
   font-weight: 300;
   font-family: montserrat;
   line-height: 1.4;
   margin-bottom: 10px;
   color: #908179;
   margin-left: 7px;
   padding-right: 7px;
}
textarea.rating-field {
 width: 500px;
 margin-bottom: 20px;
}
input.rating-field{
 width: 200px;
 margin-bottom: 20px;
}
.footer img{
  opacity: 0.6;
  width: 100%;
  height: 250px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  text-align: center;
}


/* --- Navbar Style --- */
$bgDefault      : #f8e5e1;
$bgHighlight    : #f8e5e1;
$colDefault     : #ecf0f1;
$colHover       : #00536d;

.navbar-default {
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: $bgDefault;
    border-color: $bgHighlight;
    border-radius: 0px; d
    .navbar-brand {
        color: $colDefault;
        &:hover, &:focus {
            color: $colHover; }}
    .navbar-nav {
        > li {
            > a {
                color: $colDefault;
                &:hover, &:focus {
                    color: $colHover;   }}}
        .active {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $bgHighlight; }}
        .open {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $bgHighlight;
                .caret {
                    border-top-color: $colHover;
                    border-bottom-color: $colHover; }}}
        > .dropdown {
            > a {
                .caret {
                    border-top-color: $colDefault;
                    border-bottom-color: $colDefault; }
                &:hover, &:focus {
                    .caret {
                        border-top-color: $colHover;
                        border-bottom-color: $colHover; }}}}}
    .navbar-toggle {
        border-color: $colDefault;
        &:hover, &:focus {
            background-color: $bgHighlight; }
        .icon-bar {
            background-color: $colDefault; }}}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: $colDefault;
        &:hover, &:focus {
            color: $colHover;
            background-color: $bgHighlight; }}
}
